
* {
    background-color: bisque;
    width: auto;
    margin: auto;
    
    <!--border: 2px solid red;-->
}

body {
    margin: auto;
}

h1 {
    font-size: 100px;
    color: black;
    text-align: center;
    width: 750px;
}

.intropic {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.flagpic {
    width: 55px;
    
}

.iconpic {
    width: 350px;
    height: square;
    }

h2 {
    font-size: 50px;
    padding-bottom: 5px;
}

.listof {
    font-size: 30px;
    font-style: normal;
    
    text-align: left;
}

button {
    font-size: 20px;
    width: 250px;
}

.odd {
    background-color: red;
    color: white;
}

.even {
    background-color: rgb(245, 245, 11);
}